@import "../_global.scss";

.exercise-summary-wrapper {

  .summary-container {
    border: $amb-unit*0.1 solid $amb-color-black;
    background: $amb-container-ground;
    padding: $amb-unit*2;

    .summary-total-points {
      font-weight: bold;
      display: inline-block;
    }

    button {
      display: inline-block;
    }
  }
}
