html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: $amb-font-size;
  line-height: $amb-line-height;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: $amb-unit*4;
}

h1 {
  margin: 0 0 0 0;
}
