$amb-color-red: rgb(255, 36, 87);
$amb-color-orange: rgb(255, 110, 0);
$amb-color-green: rgb(80, 255, 126);
$amb-color-blue: rgb(5, 5, 255);
$amb-color-darkblue: rgb(0, 0, 102);
$amb-color-magenta: rgb(212, 0, 172);
$amb-color-black: rgb(0, 0, 0);
$amb-color-white: rgb(255, 255, 255);

$amb-unit: 10px;
$amb-font-size: 1em;
$amb-line-height: 1.5;

$breakpoint-xs: $amb-unit*48;
$breakpoint-sm: $amb-unit*76.8;
$breakpoint-md: $amb-unit*99.2;
$breakpoint-lg: $amb-unit*120;
