header {
  width: 100%;
  img {
    display: inline-block;
    margin-right: $amb-unit*2;
    width: 80px;
  }

  h1 {
    display: inline-block;
  }

  div.locale-container {
    span.locale-selector {
    }
  }
}
