@import "_global.scss";

header {
  div {
    img {
      display: inline-block;
      margin-right: $amb-unit*2;
      width: 80px;
    }
  }
  h1 {
    display: inline-block;
  }
}
.app-logo {
  width: 80px;
}

